.player-content {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 25px 25px;
    grid-area: content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(0px, 33%) minmax(0px, 33%) minmax(0px, 33%);
    grid-template-areas:
      "player-info list opponent-diagram opponent-diagram"
      "player-diagram list opponent-diagram opponent-diagram"
      "player-diagram list empty-slot empty-slot";
    background: #27282c;
    padding: 25px;
    overflow-y: scroll;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media only screen and (max-width: 600px) {
    .player-content {
        grid-template-areas:
        "player-info"
        "player-diagram"
        "player-diagram"
        "list"
        "list"
        "opponent-diagram"
        "opponent-diagram"
        "empty-slot";
        grid-template-rows: max-content max-content max-content max-content max-content max-content max-content max-content;
        grid-template-columns: 1fr;
    }
}
  
.player-content::-webkit-scrollbar {
    display: none;
}

.opponents-list {
    grid-area: list;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.opponents-list::-webkit-scrollbar {
  display: none;
}

.opponents-list > h2 {
  background: #2c2d34;
  position: sticky;
  z-index: 999;
  width: 100%;
  top: 0px;
  margin: 0 0 20px 0;
}