.diagram-label {
    height: 15px;
    width: 15px;
    float: left;
    margin: 5px 5px 5px 20px;
    border-radius: 10px;
}

.player-diagram > svg {
    padding: 0 30px;
    box-sizing: border-box;
    height: auto;
}
  
.player-diagram > p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    float: left;
}

.diagram-chart {
    margin-top: 40px;
}