.player-details {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}

.player-name {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.player-games-info {
  color: #fff;
  font-size: 17px;
  font-weight: 100;
}

.player-games-info > p {
  color: rgb(179, 179, 179);
  font-size: 23px;
  display: inline-block;
}

.agent-icon {
    font-size: 50px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    color: #fff;
    margin-bottom: 20px;
  }