body, #root, .page-box {
  height: calc(100vh - 50px);
  width: calc(100vw - 50px);
  overflow: hidden;
}

body {
  padding: 25px;
  overflow: hidden;
  background: #1d1d1e;
}

p {
  margin: 0px;
}

.opponent-diagram > span {
  color: #fff;
  font-weight: 100;
  font-family: Lato;
  padding-right: 17px;
  font-size: 20px;
}

button {
  background: #30333a;
  border: 0px;
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
}

h2 {
  padding: 20px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
}

.custom-input {
  background: #30333a;
  border: 0px;
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  width: 100px;
}

.css-yk16xz-control, 
.css-1pahdxg-control,
.css-26l3qy-menu {
  background: #30333a !important;
  border: 0px !important;
  color: #fff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  border-radius: 10px !important;
  margin-bottom: 20px;
  outline: none !important;
  width: 100%;
}

.css-tj5bde-Svg, 
.css-1uccc91-singleValue,
#react-select-3-input {
  color: #fff !important;
}

.page-content {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: max-content 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "navigation-bar navigation-bar"
    "left-bar content";

  transition: ease .5s;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 10px #1e1e1e;
  overflow: hidden;
}

.page-content-closed {
  height: 75px!important;
}

.navigation-bar {
  grid-area: navigation-bar;
  background: #30333a;
  padding: 25px;
  box-shadow: 0px 5px 20px 10px #27282d;
  position: relative;
  cursor: pointer;
}

.left-bar {
  grid-area: left-bar;
  background: #2c2d34;
  padding: 25px;
}

.page-title,
.connection-status-info {
  color: #fff;
  font-family: Lato;
  font-size: 22px;
  font-weight: 100;
}

.connection-status {
  float: right;
}

.connection-status-indicator {
  height: 15px;
  width: 15px;
  float: left;
  margin: 5px;
  border-radius: 10px;
}

.player-info {
  grid-area: player-info;
  padding: 20px;
}

.player-diagram {
  grid-area: player-diagram;
}

.opponent-diagram {
  grid-area: opponent-diagram;
  padding: 20px;
  width: initial;
}

.empty-slot {
  grid-area: empty-slot;
  padding: 20px;
}

.opponent-info {
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: ease .3s;
  background: #2c2d34;
  width: 200%;
  border: 0 solid transparent;
  position: relative;
  border-image-source: linear-gradient(0deg, #23a6d5, #23d5ab);
  border-image-slice: 1;
}

.opponent-info:last-child {
  margin: 0;
}

.opponent-info:hover {
  border-left: 5px solid;
  border-left-width: 5px;
}

.player-info, .player-diagram, .opponent-diagram, .empty-slot {
  box-shadow: 0px 5px 20px 10px #27282d;
  position: relative;
  background: #2c2d34;
  font-family: Lato;
  overflow: hidden;
}

.player-type {
  color: rgb(179, 179, 179);
  font-size: 17px;
  font-weight: 100;
  margin: 2px 15px 0 0;
}

.gradient {
  color: rgba(0,0,0,0)!important;
	background: linear-gradient(-45deg, #23a6d5, #23d5ab);
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;
  border-radius: 50px / 100px;
  transform: scaleY(.5)!important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
